<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wotrd.dydatasource.second.mapper.InteractionMapper">
  <resultMap id="BaseResultMap" type="com.wotrd.dydatasource.second.domain.Interaction">
    <id column="interaction_no" jdbcType="VARCHAR" property="interactionNo" />
    <result column="subject_no" jdbcType="VARCHAR" property="subjectNo" />
    <result column="moment_id" jdbcType="VARCHAR" property="momentId" />
    <result column="from_user_id" jdbcType="VARCHAR" property="fromUserId" />
    <result column="from_user_name" jdbcType="VARCHAR" property="fromUserName" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="extend" jdbcType="OTHER" property="extend" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
    <result column="read" jdbcType="BOOLEAN" property="read" />
    <result column="is_delete" jdbcType="BOOLEAN" property="isDelete" />
    <result column="org_id" jdbcType="VARCHAR" property="orgId" />
  </resultMap>
  <sql id="Base_Column_List">
    interaction_no, subject_no, moment_id, from_user_id, from_user_name, "type", extend, 
    gmt_create, gmt_modify, "read", is_delete, org_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from "interaction"
    where interaction_no = #{interactionNo,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from "interaction"
    where is_delete=false
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from "interaction"
    where interaction_no = #{interactionNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert">
    insert into "interaction" (interaction_no, subject_no, moment_id, from_user_id,
      from_user_name, "type", extend, gmt_create, gmt_modify, "read", is_delete, org_id)
    values (#{interactionNo}, #{subjectNo}, #{momentId}, #{fromUserId},#{fromUserName}, #{type},
    #{extend, jdbcType=OTHER,typeHandler=com.example.second.mapper.JsonbTypeHandler},
      #{gmtCreate}, #{gmtModify}, #{read}, #{isDelete}, #{orgId})
  </insert>
  <insert id="insertSelective" keyColumn="interaction_no" keyProperty="interactionNo" parameterType="com.wotrd.dydatasource.second.domain.Interaction" useGeneratedKeys="true">
    insert into "interaction"
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="subjectNo != null">
        subject_no,
      </if>
      <if test="momentId != null">
        moment_id,
      </if>
      <if test="fromUserId != null">
        from_user_id,
      </if>
      <if test="fromUserName != null">
        from_user_name,
      </if>
      <if test="type != null">
        "type",
      </if>
      <if test="extend != null">
        extend,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
      <if test="read != null">
        "read",
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="orgId != null">
        org_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="subjectNo != null">
        #{subjectNo,jdbcType=VARCHAR},
      </if>
      <if test="momentId != null">
        #{momentId,jdbcType=VARCHAR},
      </if>
      <if test="fromUserId != null">
        #{fromUserId,jdbcType=VARCHAR},
      </if>
      <if test="fromUserName != null">
        #{fromUserName,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="extend != null">
        #{extend,jdbcType=OTHER},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="read != null">
        #{read,jdbcType=BOOLEAN},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BOOLEAN},
      </if>
      <if test="orgId != null">
        #{orgId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wotrd.dydatasource.second.domain.Interaction">
    update "interaction"
    <set>
      <if test="subjectNo != null">
        subject_no = #{subjectNo,jdbcType=VARCHAR},
      </if>
      <if test="momentId != null">
        moment_id = #{momentId,jdbcType=VARCHAR},
      </if>
      <if test="fromUserId != null">
        from_user_id = #{fromUserId,jdbcType=VARCHAR},
      </if>
      <if test="fromUserName != null">
        from_user_name = #{fromUserName,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        "type" = #{type,jdbcType=VARCHAR},
      </if>
      <if test="extend != null">
        extend = #{extend,jdbcType=OTHER},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="read != null">
        "read" = #{read,jdbcType=BOOLEAN},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BOOLEAN},
      </if>
      <if test="orgId != null">
        org_id = #{orgId,jdbcType=VARCHAR},
      </if>
    </set>
    where interaction_no = #{interactionNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wotrd.dydatasource.second.domain.Interaction">
    update "interaction"
    set subject_no = #{subjectNo,jdbcType=VARCHAR},
      moment_id = #{momentId,jdbcType=VARCHAR},
      from_user_id = #{fromUserId,jdbcType=VARCHAR},
      from_user_name = #{fromUserName,jdbcType=VARCHAR},
      "type" = #{type,jdbcType=VARCHAR},
      extend = #{extend,jdbcType=OTHER},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      "read" = #{read,jdbcType=BOOLEAN},
      is_delete = #{isDelete,jdbcType=BOOLEAN},
      org_id = #{orgId,jdbcType=VARCHAR}
    where interaction_no = #{interactionNo,jdbcType=VARCHAR}
  </update>
</mapper>