<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wotrd.gateway.mapper.RoutePredicateArgsMapper">
  <resultMap id="BaseResultMap" type="com.wotrd.gateway.model.RoutePredicateArgs">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="predicate_id" jdbcType="BIGINT" property="predicateId" />
    <result column="key" jdbcType="VARCHAR" property="key" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, predicate_id, `key`, `value`, update_user, create_user, update_time, create_time, 
    deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from route_predicate_args
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByPredicateId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from route_predicate_args
    where deleted = 0 and predicate_id = #{predicateId}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from route_predicate_args
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wotrd.gateway.model.RoutePredicateArgs" useGeneratedKeys="true">
    insert into route_predicate_args (predicate_id, `key`, `value`, 
      update_user, create_user, update_time, 
      create_time, deleted)
    values (#{predicateId}, #{key}, #{value}, #{updateUser}, #{createUser}, now(), now(), 0)
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wotrd.gateway.model.RoutePredicateArgs">
    update route_predicate_args
    <set>
      <if test="predicateId != null">
        predicate_id = #{predicateId,jdbcType=BIGINT},
      </if>
      <if test="key != null">
        `key` = #{key,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        `value` = #{value,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wotrd.gateway.model.RoutePredicateArgs">
    update route_predicate_args
    set predicate_id = #{predicateId,jdbcType=BIGINT},
      `key` = #{key,jdbcType=VARCHAR},
      `value` = #{value,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>