<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wotrd.gateway.mapper.RouteFilterMapper">
    <resultMap id="BaseResultMap" type="com.wotrd.gateway.model.RouteFilter">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="route_id" jdbcType="VARCHAR" property="routeId"/>
        <result column="filter_name" jdbcType="VARCHAR" property="filterName"/>
        <result column="deleted" jdbcType="INTEGER" property="deleted"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, route_id, filter_name, deleted
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from route_filter
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectByRouteId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from route_filter
        where deleted=0 and route_id = #{routeId}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from route_filter
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wotrd.gateway.model.RouteFilter"
            useGeneratedKeys="true">
    insert into route_filter (route_id, filter_name, deleted)
    values (#{routeId,jdbcType=VARCHAR}, #{filterName,jdbcType=VARCHAR}, 0)
  </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.wotrd.gateway.model.RouteFilter"
            useGeneratedKeys="true">
        insert into route_filter
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="routeId != null">
                route_id,
            </if>
            <if test="filterName != null">
                filter_name,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="routeId != null">
                #{routeId,jdbcType=VARCHAR},
            </if>
            <if test="filterName != null">
                #{filterName,jdbcType=VARCHAR},
            </if>
            <if test="deleted != null">
                #{deleted,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.wotrd.gateway.model.RouteFilter">
    update route_filter
    set route_id = #{routeId,jdbcType=VARCHAR},
      filter_name = #{filterName,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>