<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wotrd.gateway.mapper.RouteMapper">
    <resultMap id="BaseResultMap" type="com.wotrd.gateway.model.Route">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="app_id" jdbcType="INTEGER" property="appId"/>
        <result column="app_name" jdbcType="VARCHAR" property="appName"/>
        <result column="target_url" jdbcType="VARCHAR" property="targetUrl"/>
        <result column="order" jdbcType="INTEGER" property="order"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="deleted" jdbcType="INTEGER" property="deleted"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, app_id, app_name, target_url, `order`, create_user, update_user, create_time, 
    update_time, deleted
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from route
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from route
        where deleted=0 order by create_time desc
    </select>

    <update id="deleteById" parameterType="java.lang.String">
        update route
        set deleted = 1
        where id = #{id,jdbcType=VARCHAR} and deleted=0
    </update>

    <insert id="insert" parameterType="com.wotrd.gateway.model.Route">
        insert into route (id, app_id, app_name, target_url, `order`, create_user, update_user,
            create_time, update_time, deleted)
        values (#{id}, #{appId}, #{appName}, #{targetUrl}, #{order}, #{createUser}, #{updateUser},
            now(), now(), 0)
    </insert>

    <update id="delete">
        update route set deleted = 1
        where deleted = 0;
    </update>

</mapper>