<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wotrd.gateway.mapper.RouteFilterArgsMapper">
  <resultMap id="BaseResultMap" type="com.wotrd.gateway.model.RouteFilterArgs">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="filter_id" jdbcType="BIGINT" property="filterId" />
    <result column="key" jdbcType="VARCHAR" property="key" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, filter_id, `key`, `value`, deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from route_filter_args
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByFilterId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from route_filter_args
    where deleted=0 and filter_id = #{filterId}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from route_filter_args
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wotrd.gateway.model.RouteFilterArgs" useGeneratedKeys="true">
    insert into route_filter_args (filter_id, `key`, `value`, 
      deleted)
    values (#{filterId,jdbcType=BIGINT}, #{key,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, 0)
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.wotrd.gateway.model.RouteFilterArgs" useGeneratedKeys="true">
    insert into route_filter_args
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="filterId != null">
        filter_id,
      </if>
      <if test="key != null">
        `key`,
      </if>
      <if test="value != null">
        `value`,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="filterId != null">
        #{filterId,jdbcType=BIGINT},
      </if>
      <if test="key != null">
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.wotrd.gateway.model.RouteFilterArgs">
    update route_filter_args
    set filter_id = #{filterId,jdbcType=BIGINT},
      `key` = #{key,jdbcType=VARCHAR},
      `value` = #{value,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>