<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.first.com.wotrd.feign.mapper.FirstMapper">

    <resultMap type="com.wotrd.dydatasource.first.domain.Order" id="OrderMap">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="orderId" column="order_id" jdbcType="BIGINT"/>
    </resultMap>

    <!--查询单个-->
    <select id="getOrder" resultMap="OrderMap">
        select
          id, order_id, user_id
        from order0
        where id =#{id}
    </select>

    <!--查询单个-->
    <update id="update">
        update order0
        set order_id = #{count}
        where id = #{id}
    </update>

</mapper>