<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wotrd.dydatasource.first.mapper.ShLearnGardenReportAccessMapper">
  <resultMap id="BaseResultMap" type="com.wotrd.dydatasource.first.domain.ShLearnGardenReportAccess">
    <id column="pk_id" jdbcType="BIGINT" property="pkId" />
    <result column="ablum_pk" jdbcType="BIGINT" property="ablumPk" />
    <result column="wx_corp_id" jdbcType="VARCHAR" property="wxCorpId" />
    <result column="access_user_id" jdbcType="VARCHAR" property="accessUserId" />
    <result column="access_user_name" jdbcType="VARCHAR" property="accessUserName" />
    <result column="access_head_img_url" jdbcType="VARCHAR" property="accessHeadImgUrl" />
    <result column="is_house" jdbcType="VARCHAR" property="isHouse" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="house_date" jdbcType="TIMESTAMP" property="houseDate" />
    <result column="access_date" jdbcType="TIMESTAMP" property="accessDate" />
    <result column="user_org_id" jdbcType="VARCHAR" property="userOrgId" />
    <result column="xyh_open_id" jdbcType="VARCHAR" property="xyhOpenId" />
  </resultMap>
  <sql id="Base_Column_List">
    pk_id, ablum_pk, wx_corp_id, access_user_id, access_user_name, access_head_img_url, 
    is_house, `status`, house_date, access_date, user_org_id, xyh_open_id
  </sql>
  <select id="selectById" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sh_learn_garden_report_access
    where ablum_pk = #{pkId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sh_learn_garden_report_access
    where pk_id = #{pkId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="pk_id" keyProperty="pkId" parameterType="com.wotrd.dydatasource.first.domain.ShLearnGardenReportAccess" useGeneratedKeys="true">
    insert into sh_learn_garden_report_access (ablum_pk, wx_corp_id, access_user_id, 
      access_user_name, access_head_img_url, is_house, 
      `status`, house_date, access_date, 
      user_org_id, xyh_open_id)
    values (#{ablumPk,jdbcType=BIGINT}, #{wxCorpId,jdbcType=VARCHAR}, #{accessUserId,jdbcType=VARCHAR}, 
      #{accessUserName,jdbcType=VARCHAR}, #{accessHeadImgUrl,jdbcType=VARCHAR}, #{isHouse,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{houseDate,jdbcType=TIMESTAMP}, #{accessDate,jdbcType=TIMESTAMP}, 
      #{userOrgId,jdbcType=VARCHAR}, #{xyhOpenId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="pk_id" keyProperty="pkId" parameterType="com.wotrd.dydatasource.first.domain.ShLearnGardenReportAccess" useGeneratedKeys="true">
    insert into sh_learn_garden_report_access
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ablumPk != null">
        ablum_pk,
      </if>
      <if test="wxCorpId != null">
        wx_corp_id,
      </if>
      <if test="accessUserId != null">
        access_user_id,
      </if>
      <if test="accessUserName != null">
        access_user_name,
      </if>
      <if test="accessHeadImgUrl != null">
        access_head_img_url,
      </if>
      <if test="isHouse != null">
        is_house,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="houseDate != null">
        house_date,
      </if>
      <if test="accessDate != null">
        access_date,
      </if>
      <if test="userOrgId != null">
        user_org_id,
      </if>
      <if test="xyhOpenId != null">
        xyh_open_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ablumPk != null">
        #{ablumPk,jdbcType=BIGINT},
      </if>
      <if test="wxCorpId != null">
        #{wxCorpId,jdbcType=VARCHAR},
      </if>
      <if test="accessUserId != null">
        #{accessUserId,jdbcType=VARCHAR},
      </if>
      <if test="accessUserName != null">
        #{accessUserName,jdbcType=VARCHAR},
      </if>
      <if test="accessHeadImgUrl != null">
        #{accessHeadImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="isHouse != null">
        #{isHouse,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="houseDate != null">
        #{houseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="accessDate != null">
        #{accessDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userOrgId != null">
        #{userOrgId,jdbcType=VARCHAR},
      </if>
      <if test="xyhOpenId != null">
        #{xyhOpenId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wotrd.dydatasource.first.domain.ShLearnGardenReportAccess">
    update sh_learn_garden_report_access
    <set>
      <if test="ablumPk != null">
        ablum_pk = #{ablumPk,jdbcType=BIGINT},
      </if>
      <if test="wxCorpId != null">
        wx_corp_id = #{wxCorpId,jdbcType=VARCHAR},
      </if>
      <if test="accessUserId != null">
        access_user_id = #{accessUserId,jdbcType=VARCHAR},
      </if>
      <if test="accessUserName != null">
        access_user_name = #{accessUserName,jdbcType=VARCHAR},
      </if>
      <if test="accessHeadImgUrl != null">
        access_head_img_url = #{accessHeadImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="isHouse != null">
        is_house = #{isHouse,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="houseDate != null">
        house_date = #{houseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="accessDate != null">
        access_date = #{accessDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userOrgId != null">
        user_org_id = #{userOrgId,jdbcType=VARCHAR},
      </if>
      <if test="xyhOpenId != null">
        xyh_open_id = #{xyhOpenId,jdbcType=VARCHAR},
      </if>
    </set>
    where pk_id = #{pkId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wotrd.dydatasource.first.domain.ShLearnGardenReportAccess">
    update sh_learn_garden_report_access
    set ablum_pk = #{ablumPk,jdbcType=BIGINT},
      wx_corp_id = #{wxCorpId,jdbcType=VARCHAR},
      access_user_id = #{accessUserId,jdbcType=VARCHAR},
      access_user_name = #{accessUserName,jdbcType=VARCHAR},
      access_head_img_url = #{accessHeadImgUrl,jdbcType=VARCHAR},
      is_house = #{isHouse,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=VARCHAR},
      house_date = #{houseDate,jdbcType=TIMESTAMP},
      access_date = #{accessDate,jdbcType=TIMESTAMP},
      user_org_id = #{userOrgId,jdbcType=VARCHAR},
      xyh_open_id = #{xyhOpenId,jdbcType=VARCHAR}
    where pk_id = #{pkId,jdbcType=BIGINT}
  </update>
</mapper>