<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wotrd.dydatasource.first.mapper.ShLearnGardenReportDeptMapper">
  <resultMap id="BaseResultMap" type="com.wotrd.dydatasource.first.domain.ShLearnGardenReportDept">
    <id column="pk_id" jdbcType="BIGINT" property="pkId" />
    <result column="album_pk" jdbcType="BIGINT" property="albumPk" />
    <result column="album_type" jdbcType="VARCHAR" property="albumType" />
    <result column="wx_corp_id" jdbcType="VARCHAR" property="wxCorpId" />
    <result column="is_private" jdbcType="VARCHAR" property="isPrivate" />
    <result column="report_info" jdbcType="VARCHAR" property="reportInfo" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="create_wx_user_id" jdbcType="VARCHAR" property="createWxUserId" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="upload_status" jdbcType="VARCHAR" property="uploadStatus" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="xyh_dept_id" jdbcType="VARCHAR" property="xyhDeptId" />
    <result column="dept_id" jdbcType="VARCHAR" property="deptId" />
    <result column="user_org_id" jdbcType="VARCHAR" property="userOrgId" />
    <result column="xyh_open_id" jdbcType="VARCHAR" property="xyhOpenId" />
  </resultMap>
  <sql id="Base_Column_List">
    pk_id, album_pk, album_type, wx_corp_id, is_private, report_info, dept_name, create_wx_user_id, 
    `STATUS`, upload_status, create_date, xyh_dept_id, dept_id, user_org_id, xyh_open_id
  </sql>
  <select id="selectByPkId" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sh_learn_garden_report_dept
    where album_pk = #{pkId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sh_learn_garden_report_dept
    where pk_id = #{pkId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="pk_id" keyProperty="pkId" parameterType="com.wotrd.dydatasource.first.domain.ShLearnGardenReportDept" useGeneratedKeys="true">
    insert into sh_learn_garden_report_dept (album_pk, album_type, wx_corp_id, 
      is_private, report_info, dept_name, 
      create_wx_user_id, `STATUS`, upload_status, 
      create_date, xyh_dept_id, dept_id, 
      user_org_id, xyh_open_id)
    values (#{albumPk,jdbcType=BIGINT}, #{albumType,jdbcType=VARCHAR}, #{wxCorpId,jdbcType=VARCHAR}, 
      #{isPrivate,jdbcType=VARCHAR}, #{reportInfo,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR}, 
      #{createWxUserId,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{uploadStatus,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{xyhDeptId,jdbcType=VARCHAR}, #{deptId,jdbcType=VARCHAR}, 
      #{userOrgId,jdbcType=VARCHAR}, #{xyhOpenId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="pk_id" keyProperty="pkId" parameterType="com.wotrd.dydatasource.first.domain.ShLearnGardenReportDept" useGeneratedKeys="true">
    insert into sh_learn_garden_report_dept
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="albumPk != null">
        album_pk,
      </if>
      <if test="albumType != null">
        album_type,
      </if>
      <if test="wxCorpId != null">
        wx_corp_id,
      </if>
      <if test="isPrivate != null">
        is_private,
      </if>
      <if test="reportInfo != null">
        report_info,
      </if>
      <if test="deptName != null">
        dept_name,
      </if>
      <if test="createWxUserId != null">
        create_wx_user_id,
      </if>
      <if test="status != null">
        `STATUS`,
      </if>
      <if test="uploadStatus != null">
        upload_status,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="xyhDeptId != null">
        xyh_dept_id,
      </if>
      <if test="deptId != null">
        dept_id,
      </if>
      <if test="userOrgId != null">
        user_org_id,
      </if>
      <if test="xyhOpenId != null">
        xyh_open_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="albumPk != null">
        #{albumPk,jdbcType=BIGINT},
      </if>
      <if test="albumType != null">
        #{albumType,jdbcType=VARCHAR},
      </if>
      <if test="wxCorpId != null">
        #{wxCorpId,jdbcType=VARCHAR},
      </if>
      <if test="isPrivate != null">
        #{isPrivate,jdbcType=VARCHAR},
      </if>
      <if test="reportInfo != null">
        #{reportInfo,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="createWxUserId != null">
        #{createWxUserId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="uploadStatus != null">
        #{uploadStatus,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="xyhDeptId != null">
        #{xyhDeptId,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="userOrgId != null">
        #{userOrgId,jdbcType=VARCHAR},
      </if>
      <if test="xyhOpenId != null">
        #{xyhOpenId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wotrd.dydatasource.first.domain.ShLearnGardenReportDept">
    update sh_learn_garden_report_dept
    <set>
      <if test="albumPk != null">
        album_pk = #{albumPk,jdbcType=BIGINT},
      </if>
      <if test="albumType != null">
        album_type = #{albumType,jdbcType=VARCHAR},
      </if>
      <if test="wxCorpId != null">
        wx_corp_id = #{wxCorpId,jdbcType=VARCHAR},
      </if>
      <if test="isPrivate != null">
        is_private = #{isPrivate,jdbcType=VARCHAR},
      </if>
      <if test="reportInfo != null">
        report_info = #{reportInfo,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        dept_name = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="createWxUserId != null">
        create_wx_user_id = #{createWxUserId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `STATUS` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="uploadStatus != null">
        upload_status = #{uploadStatus,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="xyhDeptId != null">
        xyh_dept_id = #{xyhDeptId,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null">
        dept_id = #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="userOrgId != null">
        user_org_id = #{userOrgId,jdbcType=VARCHAR},
      </if>
      <if test="xyhOpenId != null">
        xyh_open_id = #{xyhOpenId,jdbcType=VARCHAR},
      </if>
    </set>
    where pk_id = #{pkId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wotrd.dydatasource.first.domain.ShLearnGardenReportDept">
    update sh_learn_garden_report_dept
    set album_pk = #{albumPk,jdbcType=BIGINT},
      album_type = #{albumType,jdbcType=VARCHAR},
      wx_corp_id = #{wxCorpId,jdbcType=VARCHAR},
      is_private = #{isPrivate,jdbcType=VARCHAR},
      report_info = #{reportInfo,jdbcType=VARCHAR},
      dept_name = #{deptName,jdbcType=VARCHAR},
      create_wx_user_id = #{createWxUserId,jdbcType=VARCHAR},
      `STATUS` = #{status,jdbcType=VARCHAR},
      upload_status = #{uploadStatus,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      xyh_dept_id = #{xyhDeptId,jdbcType=VARCHAR},
      dept_id = #{deptId,jdbcType=VARCHAR},
      user_org_id = #{userOrgId,jdbcType=VARCHAR},
      xyh_open_id = #{xyhOpenId,jdbcType=VARCHAR}
    where pk_id = #{pkId,jdbcType=BIGINT}
  </update>
</mapper>