<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.test.first.mapper.Order0Mapper">

    <resultMap type="com.example.test.first.domain.Order0" id="Order0Map">
        <result property="id" column="id" jdbcType="LONG INTEGER"/>
        <result property="userId" column="user_id" jdbcType="LONG INTEGER"/>
        <result property="orderId" column="order_id" jdbcType="LONG INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="Order0Map">
        select
          id, user_id, order_id
        from ds_master_0.order0
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="Order0Map">
        select
          id, user_id, order_id
        from ds_master_0.order0
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="Order0Map">
        select
          id, user_id, order_id
        from ds_master_0.order0
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="orderId != null">
                and order_id = #{orderId}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into ds_master_0.order0(user_id, order_id)
        values (#{userId}, #{orderId})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update ds_master_0.order0
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="orderId != null">
                order_id = #{orderId},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from ds_master_0.order0 where id = #{id}
    </delete>

</mapper>