<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wotrd.dydatasource.third.mapper.NoteRecordMapper">
  <resultMap id="BaseResultMap" type="com.wotrd.dydatasource.third.domain.NoteRecord">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="org_id" jdbcType="VARCHAR" property="orgId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_image" jdbcType="VARCHAR" property="userImage" />
    <result column="dept_id" jdbcType="VARCHAR" property="deptId" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="scope_type" jdbcType="INTEGER" property="scopeType" />
    <result column="deleted" jdbcType="BOOLEAN" property="deleted" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
    <result column="modify_user" jdbcType="VARCHAR" property="modifyUser" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    id, org_id, content, user_name, user_image, dept_id, dept_name, scope_type, deleted, 
    gmt_create, create_user, gmt_modify, modify_user, version, `type`
  </sql>
  <select id="selectById" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from note_record
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from note_record
    where deleted=0
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from note_record
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert">
    insert into note_record (id, org_id, content, user_name, user_image, dept_id, dept_name,
      scope_type, deleted, gmt_create, create_user, gmt_modify, modify_user,  version, `type`)
    values (#{id}, #{orgId}, #{content}, #{userName}, #{userImage}, #{deptId}, #{deptName},
      #{scopeType}, #{deleted}, #{gmtCreate}, #{createUser}, #{gmtModify}, #{modifyUser}, #{version}, #{type})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.wotrd.dydatasource.third.domain.NoteRecord" useGeneratedKeys="true">
    insert into note_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orgId != null">
        org_id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userImage != null">
        user_image,
      </if>
      <if test="deptId != null">
        dept_id,
      </if>
      <if test="deptName != null">
        dept_name,
      </if>
      <if test="scopeType != null">
        scope_type,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
      <if test="modifyUser != null">
        modify_user,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orgId != null">
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userImage != null">
        #{userImage,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="scopeType != null">
        #{scopeType,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BOOLEAN},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null">
        #{modifyUser,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wotrd.dydatasource.third.domain.NoteRecord">
    update note_record
    <set>
      <if test="orgId != null">
        org_id = #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userImage != null">
        user_image = #{userImage,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null">
        dept_id = #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        dept_name = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="scopeType != null">
        scope_type = #{scopeType,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BOOLEAN},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null">
        modify_user = #{modifyUser,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wotrd.dydatasource.third.domain.NoteRecord">
    update note_record
    set org_id = #{orgId,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_image = #{userImage,jdbcType=VARCHAR},
      dept_id = #{deptId,jdbcType=VARCHAR},
      dept_name = #{deptName,jdbcType=VARCHAR},
      scope_type = #{scopeType,jdbcType=INTEGER},
      deleted = #{deleted,jdbcType=BOOLEAN},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>