<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wotrd.dydatasource.third.mapper.NoteRecodeThemeMapper">
  <resultMap id="BaseResultMap" type="com.wotrd.dydatasource.third.domain.NoteRecordTheme">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="org_id" jdbcType="VARCHAR" property="orgId" />
    <result column="record_id" jdbcType="VARCHAR" property="recordId" />
    <result column="theme_id" jdbcType="BIGINT" property="themeId" />
    <result column="deleted" jdbcType="BOOLEAN" property="deleted" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
    <result column="modify_user" jdbcType="VARCHAR" property="modifyUser" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    id, org_id, record_id, theme_id, deleted, gmt_create, create_user, gmt_modify, modify_user, 
    version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from note_record_theme
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from note_record_theme
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wotrd.dydatasource.third.domain.NoteRecordTheme" useGeneratedKeys="true">
    insert into note_record_theme (org_id, record_id, theme_id, 
      deleted, gmt_create, create_user, 
      gmt_modify, modify_user, version
      )
    values (#{orgId,jdbcType=VARCHAR}, #{recordId,jdbcType=VARCHAR}, #{themeId,jdbcType=BIGINT}, 
      #{deleted,jdbcType=BOOLEAN}, #{gmtCreate,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, 
      #{gmtModify,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.wotrd.dydatasource.third.domain.NoteRecordTheme" useGeneratedKeys="true">
    insert into note_record_theme
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orgId != null">
        org_id,
      </if>
      <if test="recordId != null">
        record_id,
      </if>
      <if test="themeId != null">
        theme_id,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
      <if test="modifyUser != null">
        modify_user,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orgId != null">
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="recordId != null">
        #{recordId,jdbcType=VARCHAR},
      </if>
      <if test="themeId != null">
        #{themeId,jdbcType=BIGINT},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BOOLEAN},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null">
        #{modifyUser,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wotrd.dydatasource.third.domain.NoteRecordTheme">
    update note_record_theme
    <set>
      <if test="orgId != null">
        org_id = #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="recordId != null">
        record_id = #{recordId,jdbcType=VARCHAR},
      </if>
      <if test="themeId != null">
        theme_id = #{themeId,jdbcType=BIGINT},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BOOLEAN},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null">
        modify_user = #{modifyUser,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wotrd.dydatasource.third.domain.NoteRecordTheme">
    update note_record_theme
    set org_id = #{orgId,jdbcType=VARCHAR},
      record_id = #{recordId,jdbcType=VARCHAR},
      theme_id = #{themeId,jdbcType=BIGINT},
      deleted = #{deleted,jdbcType=BOOLEAN},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>